.page {
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 24px;
    min-width: 300px;
    max-width: 1280px;
}

@media screen and (max-width: 767px) {
    .page {
        padding-top: 16px;
    }
}