.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    gap: 16px;
    justify-content: center;
    width: calc(100% - 48px*2);
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-gap: 14px;
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-gap: 16px;
        grid-template-columns: repeat(2, auto);
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        width: calc(100% - 16px*2);
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        grid-gap: 12px;
    }
}
