.places {
  width: calc(100% - 148px*2);
  margin: 0 auto;
  padding-top: 12px;
}


@media screen and (max-width: 1025px) { 
  .places {
    width: calc(100% - 48px*2);
  } 
} 

@media screen and (max-width: 1023px) { 
  .places {
    padding-top: 15px;
    width: calc(100% - 24px*2);
  } 
} 

@media screen and (max-width: 767px) { 
  .places {
    padding-top: 14px;
    width: 100%;
  } 
}